$serif-font: 'Sorts Mill Goudy', serif;
$sans-serif-font: sans-serif;

body {
  font-family: $serif-font;
  overflow-x: hidden;
}

.container {
  position: relative;
  text-align: center;
}

.page {
  position: absolute;
  z-index: 0;
  width: 100%;
  padding: 20px;
  margin-left: 110%;
  opacity: 0;
  -webkit-transition: opacity .3s, margin-left .7s;
  -moz-transition:    opacity .3s, margin-left .7s;
  -o-transition:      opacity .3s, margin-left .7s;
  transition:         opacity .3s, margin-left .7s;
}

.page.inside {
  z-index: 100;
  margin-left: 0;
  opacity: 1;
  -webkit-transition: opacity .3s, margin-left .7s;
  -moz-transition:    opacity .3s, margin-left .7s;
  -o-transition:      opacity .3s, margin-left .7s;
  transition:         opacity .3s, margin-left .7s;
}